<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>pascasarjana</title>
</head>
<body>
    <h1>PASCASARJANA</h1>
    <h2>Terdiri dari:</h2>
    <p>Doktor Pendidikan, Doktor Ilmu Akuntansi, Doktor Ilmu Pertanian, Pendidikan Bahasa Indonesia, Pendidikan Bahasa Inggris, Pendidikan Matematika, Teknologi Pendidikan, Magister Pendidikan, Magister Ilmu Hukum, Magister Ilmu Pertanian, Magister Administrasi Publik, Magister Akuntansi, Magister Ilmu Komunikasi, Magister Manajemen, Magister Teknik Kimia</p>
</body>
</html>